<!DOCTYPE html>
<html>
  <head>
    <title>404 Error - Page Not Found</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <style>
      body {
        font-family: sans-serif;
      }
      .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h1 {
        font-size: 6rem;
        font-weight: bold;
        margin-bottom: 0;
      }
      p {
        font-size: 2rem;
        margin-top: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <h1>404</h1>
        <p>Oh no! The page you are looking for could not be found.</p>
        <a href="/" class="btn btn-primary">Go Home</a>
      </div>
    </div>
  </body>
</html>
