{% include 'head.html' %}
<div>
    <p> 
        Write the email of the user who you want to give access to all organizations.
        Please check for typos before submitting.
    </p>
    <!--
        Form that when submitted the inputed email with be in database
    -->
    <form action = "/auth-finished" method = "POST"> 
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <input type="submit" value="Submit">
    </form>

    <br>

    <p> 
        Use the drop down menu to REMOVE access to all organizations for the user associated with the inputed email.
    </p>

    <br>


    <form action = "/auth-removed" method = "POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <select name="email" method="GET" action="/">
        <option value="{{emails[0]}}" selected>{{emails[0]}}</option>
            {% for email in emails[1:] %}
            <option value="{{email}}">{{email}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
</div>


{% include 'foot.html' %}