<!-- This file shows for 5 seconds after adding an authorized user.
     Displays a status message -->

{% include 'head.html' %}

<!-- Timeout script -->
<script>
    // wait 5 seconds then redirect to /auth-users
    setTimeout(function() {
        window.location.href = "/authorize-users";
    }, 3000);
</script>

<!-- header -->
<p>Authorize Users</p>
<hr>

<!-- Add a user -->
<div class="container-fluid mb-3">
    <p>Enter an email to authorize a user to access this dashboard.</p>
    <form action = "/auth-finished" method = "POST"> 
        <div class="input-group">
            <!-- must send csrf token -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-floating">
                <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
                <label for="email">Email address</label>
            </div>
            <select class="form-select" name="access" id="">
                <option value="%" selected>ADMIN</option>
                {% for organization in organizations %}
                    <option>{{ organization.get_org_name() }}</option>
                {% endfor %}
            </select>
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
    <!-- notifications -->
    {% if status == 1 %}
    <div class="alert alert-success mt-3" role="alert">
        {{ message }}
    </div>
    {% elif status == 2 %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ message }}
    </div>
    {% endif %}
</div>

<!-- delete a user -->
<div class="container-fluid">
    <p>Select an email from the dropdown to remove their access to this dashboard.</p>
    <form action = "/auth-removed" method = "POST">
        <!-- must send csrf token -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="input-group">
            <select class="form-select" name="email" method="GET" action="/">
                <option value="{{emails[0]}}" selected>{{emails[0]}}</option>
                {% for email in emails[1:] %}
                <option value="{{email}}">{{email}}</option>
                {% endfor %}
            </select>
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
    <!-- notifications -->
    {% if status == 3 %}
    <div class="alert alert-success mt-3" role="alert">
        {{ message }}
    </div>
    {% elif status == 4 %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ message }}
    </div>
    {% endif %}
</div>

<div class="container-fluid mt-3">
    <p>All administrators can be found here for reference.</p>
    <table class="table">
        <tr>
            <th>Email</th>
            <th>Organizations</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>
                {{ user[1][0] }}
                {% for org in user[1][1:] %}
                <br> {{ org }}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% include 'foot.html' %}