<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/styles.css">
<html>
<head>
    <title>Hudson County Food Finder</title>
</head>
<body>
    <h1>Hudson County Food Finder Admin Panel</h1>
    <p>Upload a file to bulk edit the table</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input type="submit" value="Upload" name="submit">
    <p>{{ message }}</p>
    <a href="/">Return Home</a>
</body>
</html>