{% include 'head.html' %}
<script src="../static/scripts/spinner.js"></script>
<p>Upload</p>
<hr>
<form id="file-upload" action="/upload-offerings" method="post" enctype="multipart/form-data">
    <label for="upload-group" class="form-label">Upload offerings</label>
    <div id="group" class="input-group w-75" id="offerings-group">
        <input class="form-control" type="file" name="file" id="file">
        <button class="btn btn-primary" type="submit" value="Upload" name="submit">Upload</button>
    </div>
</form>
<div id="spinner">
    <p>Your file is uploading!</p>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
{% if messages %}
    <div class="container-fluid">
        <p>{% for message in messages %}{{ message }}<br>{% endfor %}</p>
    </div>
{% endif %}
{% include 'foot.html' %}