<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/styles.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../static/scripts/filter.js"></script>
<html>
<head>
    <title>Hudson County Food Finder</title>
</head>
<body>
    <h1>Hudson County <br> Food Finder</h1>
    <div class="flex-container">
        <form action="/index" method="get">
          <input type="text" placeholder="Search (zip code, organization, street, etc.)" name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <button id="filter-button" style="margin-left: auto;"><i class="fa fa-filter"></i></button>
    </div>
    {% include 'filter.html' %}
    {% for offering in offerings %}
    <hr>
    <div class="offering flex-container">
        <img class="offering-logo" src="{{ offering.get_photo_url() }}" alt="">
        <div class="offering-info">
            <p>{{ offering.get_title() }}</p>
            <p>{{ offering.get_street() }}</p>
            <p>{{ offering.get_daysf() }}</p>
            <p>{{ offering.get_start_timef() }} until {{ offering.get_end_timef() }}</p>
        </div>
    </div>
    {% endfor %}
</body>
</html>