.offering-logo {
    width: 100px;
    height: 100px;
    margin: 10px;
}

h1 {
    font-family: serif;
    text-align: center;
    color: #2F3C50;
}

p {
    margin-bottom: .1em;
}

body {
    background:            linear-gradient(to top, #8EC5FC, #E0C3FC);
    background-attachment: fixed; /*edit*/
}
